header, footer {
    background-color: antiquewhite;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

header .collapse a:hover {
    text-decoration: underline;
    color: chocolate;
}